<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :companyName %><br>
    <%= f.text_field :companyName %>
  </div>
  <div class="field">
    <%= f.label :jobTitle %><br>
    <%= f.text_field :jobTitle %>
  </div>
  <div class="field">
    <%= f.label :jobDescription %><br>
    <%= f.text_area :jobDescription %>
  </div>
  <div class="field">
    <%= f.label :startDate %><br>
    <%= f.date_select :startDate %>
  </div>
  <div class="field">
    <%= f.label :endDate %><br>
    <%= f.date_select :endDate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
