<% if step.title != nil %>
	<p>
		<h3><%= step.title %></h3></br>

 		<h5 class="subheader"><b>Problem:</b></br></h5>
		<%= markdown(step.problem) %>
		<h5 class="subheader"><b>Solution:</b></br></h5>
		<%= markdown(step.solution) %>
		<%= link_to 'Show', tutorial_step_path(tutorial_id, step) %>
		<%= link_to 'Edit', edit_tutorial_step_path(tutorial_id, step) %>
		<%= link_to 'Destroy', tutorial_step_path(tutorial_id, step), method: :delete, data: { confirm: 'Are you sure?' } %>

	<p>
		<% if !step.sections.empty? %>
			<% step.sections.each do |section| %>
				<%= render partial: "helpers/#{section.item_type.downcase}", locals: {:tutorial_id => tutorial_id, :step_id => step.id, :item => section.item } %> 
			<% end %> 

		<% end %>
	</p>

	<% if @tutorial %>
		<% if user_signed_in? && @tutorial.user_id == current_user.id %>
		<%= button_tag 'Add Codeblock', class: 'codeblock-form-show' %>
		<%= button_tag 'Add Screen Shot', class: 'screenshot-form-show' %>
			<div class='codeblock-form-wrapper'>
    			<%= render partial: 'helpers/codeblocks_form', locals: { :tutorial_id => tutorial_id, :step => step }  %>
    		</div>
    		<div class='screenshot-form-wrapper'>
    			<%= render partial: 'helpers/screenshots_form', locals: { :tutorial_id => tutorial_id, :step_id => step.id, :current_screenshot => step.screenshots.build } %>
			</div>
  		<% end %>
	<% end %>
	</p>
	
<% end %>