<% if step.title != nil %>
	<p>
		<%= step.title %>
		<%= step.problem %>
		<%= step.solution %>
		<%= link_to 'Show', tutorial_step_path(tutorial_id, step) %>
		<%= link_to 'Edit', edit_tutorial_step_path(tutorial_id, step) %>
		<%= link_to 'Destroy', tutorial_step_path(tutorial_id, step), method: :delete, data: { confirm: 'Are you sure?' } %>
		<%= render partial: 'helpers/codeblock', collection: step.codeblocks, locals: {:tutorial_id => tutorial_id, :step_id => step.id} %> 
		<%= render partial: 'helpers/screenshot', collection: step.screenshots, locals: {:tutorial_id => tutorial_id, :step_id => step.id} %>
	<% if @tutorial %>
		<% if user_signed_in? && @tutorial.user_id == current_user.id %>
		<%= button_tag 'Add Codeblock', class: 'codeblock-form-show' %>
		<%= button_tag 'Add Screen Shot', class: 'screenshot-form-show' %>
			<div class='codeblock-form-wrapper'>
    			<%= render partial: 'helpers/codeblocks_form', locals: { :tutorial_id => tutorial_id, :step => step }  %>
    		</div>
    		<div class='screenshot-form-wrapper'>
    			<%= render partial: 'helpers/screenshots_form', locals: { :tutorial_id => tutorial_id, :step_id => step.id, :current_screenshot => step.screenshots.build } %>
			</div>
  		<% end %>
	<% end %>
	</p>
<% end %>