<p id="notice"><%= notice %></p>

<p>
  <h1><%= @tutorial.title %></h1>
  <h6 class="subheader"><b>Author:</b> <%= @tutorial.author %></h6>
</p>

<p>
  <h5 class="subheader"><b>Description:</b></br>
  <%= markdown(@tutorial.description) %>
</p>
	<%= render partial: 'step', collection: @steps, :locals => { :tutorial_id => @tutorial.id } %> 

  <% if user_signed_in? && @tutorial.user_id == current_user.id %>
    <%= render partial: 'steps_form', :locals => { :tutorial => @tutorial, :step => @step} %>
  <% end %>

<%= link_to 'Edit', edit_tutorial_path(@tutorial) %> |
<%= link_to 'Back', tutorials_path %>