<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :projectName %><br>
    <%= f.text_field :projectName %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :site %><br>
    <%= f.text_field :site %>
  </div>
  <%= f.fields_for :app_screenshots do |screenshot| %>
    <p>
    <%= screenshot.label :caption, "Image Caption" %>
    <%= screenshot.text_field :caption %>
    </p>
    <p>
    <%= screenshot.label :image, "Image File" %>
    <%= screenshot.file_field :image %>
    </p>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>
