<p>
	<%= form_for current_codeblock, url: tutorial_step_codeblocks_path(tutorial_id, step_id), method: :post do |codeblock| %>
      <fieldset>
        <div class="field">
          <%= codeblock.label :file_name %>
          <%= codeblock.text_field :file_name %>
        </div>

    		<div class="field">
      		<%= codeblock.label :code %>
      		<%= codeblock.text_area :code %>
    		</div>
    		<div class="field">
      		<%= codeblock.label :description %>
      		<%= codeblock.text_area :description %>
    		</div>
    		<%= codeblock.submit "Add CodeBlock", class: "button success" %>
        <%= link_to 'Remove CodeBlock', '#', class: 'codeblock-form-hide' %>
      </fieldset>
	<% end %>
</p>