<% if !item.image.url.nil? %>

		<%= image_tag item.image.url(:medium) %>
		<% if user_signed_in? && @tutorial.user_id == current_user.id %>
			<%= link_to 'Edit', edit_tutorial_step_screenshot_path(tutorial_id, step_id, item) %>
			<%= link_to 'Destroy', tutorial_step_screenshot_path(tutorial_id, step_id, item), method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %></br>
		<h6 class="subheader"><%= item.caption %></h4></br>
		
	<p>
		<%= item.description %>
	</p>
<% end %>