
	<%= form_for current_screenshot, url: tutorial_step_screenshots_path(tutorial_id, step_id), method: :post do |screenshot| %>
      <fieldset>
    		<div class="field">
      		<%= screenshot.label :caption %>
      		<%= screenshot.text_field :caption %>
    		</div>
    		<div class="field">
      		<%= screenshot.label :description %>
      		<%= screenshot.text_area :description %>
    		</div>
        <% if !current_screenshot.image.url.nil? %>
          <%= image_tag current_screenshot.image.url(:medium) %>
        <% end %>
        <div>
          <%= screenshot.file_field :image %>
        </div>
    		<%= screenshot.submit "ScreenShot", class: "button success" %>
        <%= link_to 'Remove Screenshot', '#', class: 'screenshot-form-hide' %>
      </fieldset>
	<% end %>