<% if !item.image.url.nil? %>
	<p>
		<%= image_tag item.image.url(:medium) %>
		<%= item.caption %>
		<%= item.description %>
		<%= link_to 'Show', tutorial_step_screenshot_path(tutorial_id, step_id, item) %>
		<%= link_to 'Edit', edit_tutorial_step_screenshot_path(tutorial_id, step_id, item) %>
		<%= link_to 'Destroy', tutorial_step_screenshot_path(tutorial_id, step_id, item), method: :delete, data: { confirm: 'Are you sure?' } %>
	</p>
<% end %>